html {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Arial;
}

h1 {
  text-align: center;
}

.roles {
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  padding: 0;
}

.role {
  padding: 0.25vw;
  transition: .3s;
}

.role:hover {
  opacity: 90%;
}

.role a {
  display: grid;
  text-align: center;
}

.role a {
  color: #000;
  text-decoration: none;
  font-size: 2vw;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
  .role a {
    color: #fff;
  }
}

@media (max-width: 730px) {
  .roles {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .role a {
    font-size: 16px;
  }
  .role a img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
  }
  .role a label {
    max-width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
