html {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Arial;
}

header {
  position: fixed;
  left: 10px;
  top: 10px;
  cursor: pointer;
  --mdc-theme-primary: #3498db;
}

.mobileheader {
  display: none;
}

nav {
  position: fixed;
  right: 10px;
  top: 10px;
  text-align: left;
  background-color: #bdc3c7;
  padding: 10px;
  border-radius: 5px;
}

nav h4 {
  margin: 5px;
  text-align: center;
}

nav ul {
  padding-left: 20px;
}

h1, h2 {
  text-align: center;
}

.roles {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  text-align: center;
}

.role {
  padding-bottom: 10px;
}

.role img {
  width: 10vw;
}

h3 {
  font-size: 24px;
  margin: 5px 0 5px 0;
}

p {
  font-size: 20px;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
}

@media (max-width: 730px) {
  .roles {
    width: 90%;
  }
  nav {
    display: none;
  }
  header {
    right: 10px;
    bottom: 10px;
    left: auto;
    top: auto;
  }
  .mobileheader {
    display: initial;
    z-index: 2;
    opacity: 75%;
  }
  .pcheader {
    display: none;
  }
}
